.footer {
  margin-top: 20px;
  text-align: center;
  color: #538994;

  a {
    font-weight: 800;
    color: #25a5bf;
  }

  P {
    padding-bottom: 16px;
    line-height: 2;
  }

  .fa-heart {
    color: #ce2222;
  }
}
